@import "settings";
@import "foundation";

@font-face {
    font-family: 'Gz_Bold';
    src: url('../fonts/GothamNarrow-Bold.otf');    
}

body, html {    
    margin: 0;
    padding: 0;    
    
}
#header {
.top-section {
    background-color: #000000;
    height: 110px;
    width:100%;
    line-height:110px;    
    font-family:'Gz_Bold';
    font-size:13px;
    color:#FFFFFF;
    .menu {
         list-style-type: none;  
         line-height:110px;    
         vertical-align:middle;
         li {
         display: inline-block;
         padding-right:35px;

          a {
            color:#FFFFFF;
          }
         }
    }
}
}